
body {
    background-color: black;
   
}

h1 {
    color: yellowgreen;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 230, 0);
    font-size: 28px;
    
}

a:visited {
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 230, 0);
}

a:hover {
    color: rgb(140, 33, 189);
}

hr {
    border-style:double;color: rgb(255, 0, 0);
}

p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: yellowgreen;
font-size: 18px;
text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 191);
    font-size: 22px;
    text-align: center;
    }

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellowgreen;
    font-size: 20px;
    text-align: center;
    }}